<div id="pergaminhos">
	<h3>Pergaminhos</h3>
	<% if(acoes && acoes.length > 0) { %>
		<ul>
			<% for(let i = 0; i < acoes.length; i++){ %>
				<%
					let acaoTexto = '';
					switch(parseInt(acoes[i].acao)) {
						case 1:
							acaoTexto = 'aldeão(ões) coletando recursos';
							break;
						case 2:
							acaoTexto = 'enforcamento(s) programado';
							break;
						case 3:
							acaoTexto = 'aldeão(ões) em treinamento de história';
							break;
						case 4:
							acaoTexto = 'aldeão(ões) em treinamento de magia';
							break;
					}

					let milisegundosRestantes = acoes[i].dataTermino.getTime() - new Date().getTime();
					let segundosRestantes = Math.round(milisegundosRestantes/1000);
				%>
				<li>
					<%= acoes[i].quantidade %> <%= acaoTexto%> - 
					<small>restam <span class="tempo-restante"><%= segundosRestantes %></span> segundos - 
						<a href="#">revogar ordem</a>
					</small>
				</li>
			<% } %>
		</ul>
	<% } else { %>
		<p>Não existem ações pendentes</p>
	<% } %>
</div>